<%-  include("partials/header")  -%>

    <h1>Compose</h1>

    <form action="/compose" method="post"> 
    <label for="title">Title</label>   <br>
        <input type="text" id="title" name="textEntered">
<br>
        <label for="post">Post</label>  <br>
        <textarea name="postEntered" id="post" cols="100" rows="2"></textarea>
        <button type="submit"> Submit </button>
    </form>



<%-  include("partials/footer")   -%>





















