
<%- include("partials/header"); %>

<h1><%=postNameHTML.title   %>    </h1>
<p><%=postNameHTML.textarea  %>       </p>



<%- include("partials/footer");  %>










































